<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body class="centered-form-body">
    <form method="post" action="{{ action }}">
        <h2>{{ title }}</h2>
        <input type="text" name="username" placeholder="Имя пользователя" required>
        <input type="password" name="password" placeholder="Пароль" required>
        <input type="submit" value="{{ submit_text }}">
        {% if register_link %}
            <p>Нет аккаунта? <a href='/register_form'>Зарегистрироваться</a></p>
        {% endif %}
    </form>
</body>
</html>
