<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация пользователя</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="centered-form-body">
    <form method="post" action="/register">
        <h2>Регистрация пользователя</h2>
        <input type="text" name="username" placeholder="Имя пользователя" required>
        <input type="password" name="password" placeholder="Пароль" required>
        <input type="number" name="can_edit" min="0" max="1" value="0" placeholder="Права на редактирование">
        <input type="submit" value="Зарегистрироваться">
        <p>Уже есть аккаунт? <a href='/login_form'>Войти</a></p>
    </form>
</body>
</html>
